<!DOCTYPE html>
<html style="height: 100%; box-sizing: border-box">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="min-vh-100 position-relative" style="padding-bottom: 9rem">
    @Html.Partial("_NavBar")

    <main role="main">
        @RenderBody()
    </main>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
