@model e_Recarga.DAL.PostoCarregamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostoCarregamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_OPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_OPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VelocidadeCarregamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VelocidadeCarregamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTomadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTomadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorFixoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorFixoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVariavelTempoMenos30Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVariavelTempoMenos30Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVariavelTempoMais30Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVariavelTempoMais30Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_PostoCarregamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
